# Environment Variables Example

# Node Environment
NODE_ENV=environment_variable_here

# Application URLs
NEXT_PUBLIC_APP_URL=environment_variable_here
NEXT_PUBLIC_API_URL=environment_variable_here

